/* =========================================================== */
/*  ------------------------------------------------------------
    PLAZreset-CSS
    Plazmediå® 2019 · Plazmediå LAB™ 
    http://www.plazmedia.com.mx/home
    v1.1 | 19220919
    License: Copyright © · All rights reserved
*/
/* =========================================================== */

/* Plazmedia color variable */
:root{
    --plaz-color:               #0061ff;
    --plaz-color-gradient:      #310DFF;
    --plaz-color-alternative:   #9107fa;
    --new-plaz-color:           #4918fa;
    --color-white:              #fff;
    --color-sec:                #333;
    --color-green:              #6C8F07;
    --color-green-hover:        #87B309;
    --color-green-active:       #567206;
    --color-orange:             #CC2C14;
    --color-orange-hover:       #FF3719;
    --color-orange-active:      #A32310;
    --color-operadores:         #0B3272;
    --color-operadores-hover:   #124FB3;
    --color-another:            #0A7BBA;
    --color-another-hover:      #0C9AE8;
    --color-gray:               #e1e1e1;
}
/*============================================================*/

/* Main control of the HTML tag */
html{
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px que es el estandar de tamaño para la funete de los navegadores. **/
    /* font-family:'Roboto', sans-serif; */
    /* Normal - 1 - */
    line-height:1.2;
    -webkit-text-size-adjust:100%;
       -moz-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
            text-size-adjust:100%;
    list-style:none;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
}
/* Margin, filling and body displacement control. */
body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    font-size: 1rem;
    line-height: 2;
}
/* Size H1 main */
h1{
    font-size:3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}
h5{
    font-size: 2.4rem;
}
h6{
    font-size: 2rem;
}
/* Size of H's margin */
h1, h2, h3, h4, h5, h6{
    margin: .5rem 0;
}
/* Link base design */
a {
    color:var(--plaz-color);
    text-decoration:none;

}
a:hover{
    text-decoration:none;
}
/* Small text control */
small {
    font-size:75%;
}
/* Alternative controls */
hr{
    height:0;
    overflow:hidden;
    border:none;
}
button,
input,
select,
textarea {
  font-family:inherit; 
  font-size:100%; 
  margin:0;
}
/* Image size adaptive to the browser */
img{
    max-width: 100%;
    border-style:none;
}
/* New elements created */
*,::before,::after{
    -webkit-box-sizing:inherit;
            box-sizing:inherit;
}
/* -------------------- ^ PLAZreset-CSS ^ -------------------- */
/* =========================================================== */

/* Plus - Shortcut Utiles */
/*
    1.-
    CTRL + SHIFT + p + "Borrar y escribir el @" = Mapa listado de los elementos en el archivo.
    CTRL + SHIFT + o = Abre directamente el Mapa listado, sin tener que escribir el @.

    2.-
    CTRL + SHIFT + p + "Borrar y escribir el ':'" = Escribir el numero de linea al que se quiere mover. 
    CTRL + SHIFT + g = Escribir directo el número de linea al que se quiere mover.
*/
/* Markdown - Ejemplo los archivos README.md de Git(Hub-Lab) */
/*
    CTRL + SHIFT + p + "Escribir 'Markdown'" = Este comando o funcionalidad te permite interpretar y vsualizar los archivos .md para certificar que su estilo sea correcto.
*/