
body{
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    line-height: 2;
}

/* Globales */
.contenedor{
    width: 95%;
    max-width: 100rem;
    margin: 0 auto;
}

/* Utilidades */
.section-space{
    margin-top: 2rem;
    margin-bottom: 2rem; 
}
.fw-300{
    font-weight: 300;
}
.center-text{
    text-align: center;
}
.d-block{
    display: block!important;
}
.contenido-centrado{
    max-width: 60rem;
}
.banner{
    background-size: cover;
    width: 100%;
    height: 60vh;
}

 /* Botones */
 .boton{
     color: var(--color-white);
     font-weight: 700;
     font-size: 1.8rem;
     padding: 1rem 3rem;
     display: inline-block;
     margin-top: 3rem;
     text-align: center;
     border: none;
     display: block;
     flex: 0 0 100%;
 }
 @media (min-width: 768px){
     .boton{
         display: inline-block;
         flex: 0 0 auto;
     }
 }
 .boton:hover{
     cursor: pointer;
 }
 .boton-azul{
     background-color: var(--plaz-color)
 }
 .boton-red{
    background-color: var(--color-orange);
 }
 .boton-verde{
    background-color: var(--color-green);
 }

/* Header */
.site-header{
    background-color: var(--color-sec);
    padding: 0 0 1rem 0;
}
.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 90vh;
    min-height: 60rem;
}
.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media (min-width: 768px){
    .contenido-header{
        text-align: left;
    }
}
.contenido-header h1{
    color: var(--color-white);
    padding-bottom: 3rem;
    max-width: 60rem;
}
.barra{
    padding-top: 1em;
}
@media (min-width: 768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.barra_logo{
    height: 3.3rem;  
    padding-bottom: 1.05rem;
}

/* Navegación */
.navegacion a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}
@media (min-width: 768px){
    .navegacion a{
        font-size: 1.5rem;
        display: inline-block;
        margin-left: 2rem;
    }
    .navegacion a:first-of-type{
        margin-left: 0;
    }
}
.navegacion a:hover{
    color: var(--plaz-color);
}

/* Mobile Menu */
.mobile-menu{
    margin: 0 auto;
    width: 5rem;
}
@media (min-width: 768px){
    .mobile-menu{
        display: none;
    }
}
.navegacion:target{
    display: block;
}
.navegacion{
    display: none;
}
@media (min-width: 768px){
    .navegacion{
        display: block;
    }
}

/* Iconos Nosotros */
@media (min-width: 768px){
    .iconos-nosotros{
        display: flex;
        justify-content: space-between;
    }
}
.icono{
    text-align: center;
}
@media (min-width: 768px){
    .icono{
        flex-basis: calc(33.3% - 1rem);
    }
}
.icono h3{
    text-transform: uppercase;
}
/* Anuncios */
@media (min-width: 768px){
    .contenedor-anuncios{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.anuncio{
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px solid #cfcfcf;
    background-color: #f0f0f0;
    margin-bottom: 2rem;
}
@media (min-width: 768px){
    .anuncio{
        flex-basis: calc(33.3% - 1rem);
    }
}
.contenido-anuncio{
    padding: 0 2rem 2rem;
}
.contenido-anuncio h3,
.contenido-anuncio p{
    margin: 0;
}
.precio{
    color: var(--color-green-hover);
    font-weight: 700;
}
.iconos-caracteristicas{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 50rem;
}
.iconos-caracteristicas li{
    display: flex;
    /* flex: 1; */
}
.iconos-caracteristicas li img{
    margin-right: 2rem;
}
.ver-todas{
    display: flex;
    justify-content: flex-end;
}

/* Contacto Home */
.imagen-contacto{
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}
.contenido-contacto{
    flex: 0 0 95%;
    color: var(--color-white);
}
.contenido-contacto p{
    font-size: 1.8rem;
}

/* Sección Inferior */
@media (min-width: 768px){
    .seccion-inferior{
        display: flex;
        justify-content: space-between;
    }
    .seccion-inferior .blog{
        flex-basis: 60%;
    }
    .seccion-inferior .testimoniales{
        flex-basis: calc(40% - 2rem);
    }
}
.entrada-blog{
    margin-bottom: 2rem;
}
@media (min-width: 768px){
    .entrada-blog{
        display: flex;
        justify-content: space-between;
    }
}
.entrada-blog:last-of-type{
    margin-bottom: 0;
}
@media (min-width: 768px){
    .entrada-blog .imagen{
        flex-basis: 40%;
        margin-top: .6rem;
    }
    .entrada-blog .texto-entrada{
        flex-basis: calc(60% - 3rem);
    }
}
.texto-entrada a{
    color: #000000;
    text-decoration: none;
}
.texto-entrada a:hover{
    color: var(--plaz-color);
}
.texto-entrada h5{
    margin: 0;
    line-height: 1.2;
}
.texto-entrada p{
    line-height: 1.4;
}
.texto-entrada h5::after{
    content: '';
    display: block;
    width: 15rem;
    height: .4rem;
    background-color: #71B100;
    margin-top: 1rem;
}
.texto-entrada span{
    color: var(--color-orange-hover);
}
.banner-entrada{
    background-image: url(../img/destacada2.jpg);
}

/* Testimoniales */
.testimonial{
    background-color: var(--color-green-hover);
    font-size: 2rem;
    padding: 2rem;
    color: var(--color-white);
    border-radius: 2rem;
}
.testimonial p{
    text-align: right;
}
.testimonial blockquote::before{
    content: '';
    background-image: url(../img/comilla.svg);
    display: block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -4rem;
}
.testimonial blockquote{
    position: relative;
    padding-left: 2rem;
    font-weight: 300;
}

/* Footer */
.site-footer{
    background-color: var(--color-sec);
    margin: 0;
}
.contenedor-footer{
    padding: 2rem 0;
    text-align: center;
}
@media (min-width: 768px){
    .contenedor-footer{
        display: flex;
        justify-content: space-between;
    }
}
.site-footer nav{
    display: none;
}
@media (min-width: 768px){
    .site-footer nav{
        display: block;
    }
}
.copyright{
    margin: 0;
    color: var(--color-white);
}

/* Páginas INTERNAS */
/* Nosotros */
@media (min-width: 768px){
    .contenido-nosotros{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 3rem;
    }
}

.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 0 0 3rem 0;
}
/* Anuncio */
.resumen-propiedad{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Contacto */
.banner-contacto{
    background-image: url(../img/destacada3.jpg);
}
.contacto p{
    font-size: 1.3rem;
    margin: 2rem 0 0 0;
}
legend{
    font-size: 2rem;
    text-align: right;
    padding: 0 1rem;
    padding-bottom: 1.5rem; 
    color: var(--plaz-color);
}
label{
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]),
textarea,
select{
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: var(--color-gray);
    margin-bottom: 2rem;
    border: none;
    border-radius: .5rem;
}
input[type="radio"]{
    width: auto;
    margin: 0;
}
select{
    -webkit-appearance: none;
    appearance: none;
}
textarea{
    height: 15rem;
}
.forma-contacto{
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}